flask
flask-cors
xgboost
scikit-learn
numpy
pandas
openpyxl
librosa
onnxruntime
supabase
qdrant-client
fastembed
requests
tensorflow-cpu; sys_platform == 'win32' or sys_platform == 'linux'
tensorflow; sys_platform == 'darwin'
cryptography

